.container{
    margin: 0 auto;
    width: 70%;
}

.menu {
    background-color: orangered;
    line-height: 40px;
}
.menu ul{
    text-align: center;
}
.menu ul li{
    display: inline-block;

}
.menu ul li a{
    text-decoration: none;
    font-size: 30px;
    padding-left: 30px;
    color: white;

}
.menu ul li a:hover{
    color: black;
}

.bando{
    float: left;
    margin-top: 100px;
    border: 2px solid aquamarine;
}

.form{
    background-color: aquamarine;
    margin-top: 100px;
    float: right;
    width: 500px;
    height: 400px;
    border: 2px solid aquamarine;
}

.form .title{
    
    text-align: center;
}
.form .input{
    background-color: white;
    height: 79%;
    border-bottom: 2px solid aquamarine;
}
.form .input input{
    margin-left: 20px; 

    margin-top: 30px;
    height: 30px;
    width: 450px;
}
.form .input  .nd{
    height: 50px;
}

.form .input button{
    height: 40px;
    margin-top: 30px;
    width: 450px;
    text-align: center;
    margin-left: 20px; 
    border: 0px;
    background-color: aquamarine;
}
.form .input button:hover{
    background-color: rgb(25, 191, 241);
}