*{
    padding: 0;
    margin: 0;
}
.container{
    margin: 0 auto;
    width: 70%;
}
.menu {
    background-color: orangered;
    line-height: 40px;
}
.menu ul{
    text-align: center;
}
.menu ul li{
    display: inline-block;

}
.menu ul li a{
    text-decoration: none;
    font-size: 30px;
    padding-left: 30px;
    color: white;

}
.menu ul li a:hover{
    color: black;
}

.left{
    width: 450px;
    height: 380px;
    margin-top: 130px;
    float: left;
}

.left img{
    width: 100%;
    height: 380px;
    border: 2px solid orangered;
    border-radius: 10px;
}

.right{
    width: 48%;
    margin-top:130px;
    float: right;
}
.right ul li{
    
}
.fb-like{
    padding-top: 20px;
}

.bottom{
    padding-top: 600px;
}